.video_container {
  width: 100% !important;
  height: auto !important;
}

@media (min-width: 991px) and (max-width: 1024px) {
  .video_container {
    width: 100% !important;
    height: auto !important;
  }
}
