/* fro different screen sizes */
@media (min-width: 320px) and (max-width: 767px) {
  .bannerinfo {
    padding-left: 0%;
    margin-bottom: 0%;
  }
}

/* fro different screen sizes */
@media (min-width: 1366px) and (max-width: 1440px) {
  .bannerinfo {
    padding: 0px 15px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .bannerinfo {
    padding: 0 10px !important;
  }
}
