/** @format */

.main_padding {
  padding-left: 10%;
}

.herotext p {
  font-size: 18px;
  color: #6a6a6a;
  line-height: 30px;
}

.colorchange {
  color: #ff4a04 !important;
}

.bannertext p {
  color: #000;
}

.mainHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Choose section start */

.herotext {
  margin-bottom: 43px;
}

/* Choose section start */

/* benefits section csss */

.de {
  width: 94%;

  object-fit: cover;
  height: 670px;
}

/* service card css */
/* here is the services css */
.pinkbg {
  padding: 50px 0px;
  padding-bottom: 0;
  background: #f5f5f5;
}

.single_service:hover {
  border-left: 4px solid #254296;
  transition: 0.8s ease;
  border-bottom: 4px solid #233f93;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.single_service:hover button {
  background-color: #254296;
}

.single_service:hover .title {
  color: #233f93 !important;
}

.single_service {
  position: relative;
  margin-top: 30px;
  /* filter: drop-shadow(
    2.991804361343384px 2.991804361343384px 11.967217445373535px
      rgba(0, 0, 0, 0.25)
  ); */
  background-color: #fff;
  border-radius: 5px;
  padding: 25px;
  overflow: hidden;
  -webkit-border-radius: 40px 40px 40px 0;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #cccccc6b;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px 25px 10px 0px;
  height: 420px;
}

.single_service:nth-child(2) {
  background-color: red !important;
  padding: 270px !important;
}

.single_service h3 {
  text-align: left;
}

.single_service p {
  text-align: left;
}

.single_service a {
  text-decoration: none !important;
}

.single_service a button {
  background-color: #f2b721;
  border: none;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  position: relative;
}

.single_service a button img {
  position: absolute;
  left: 7px;
  height: auto;
  width: 40px;
  top: 19px;
}

.single_service .content {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.single_service:hover .circle_before {
  width: 100%;
  height: -webkit-fill-available;
  transform: none;
  border: 0;
  border-radius: 0;
  opacity: 1;
}

.single_service .icon {
  display: inline-block;
  margin-bottom: 26px;
  width: 70px;
  height: auto;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  transition: all 0.3s;
  position: absolute;
  right: 0;
  top: -35px;
  left: 0;
  margin: 0 auto;
}

.single_service .numbering {
  font-size: 70px !important;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 72px;
  color: #acacacd9 !important;
  opacity: 0.2;
  position: absolute;
  right: 20px;
  bottom: 5px;
}

.single_service:hover .icon {
  background-color: #fff;
  color: #ff4500;
}

.single_service:hover h3 {
  color: #000000 !important;
}

.single_service .title {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 23px;
  transition: color 0.3s;
  margin-top: 30px;
  color: #213e92 !important;
  text-transform: uppercase;
}

.single_service:hover .title {
  color: #000000;
}

.single_service .description {
  margin-bottom: 20px;
  font-size: 16px;
  transition: color 0.3s;
  color: #000;
}

.single_service:hover .description {
  color: #000000;
}

.single_service a {
  position: absolute;
  font-size: 18px;
  color: #202020;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
  bottom: 30px;
}

.single_service:hover a {
  color: #fff;
}

.single_service:hover a:after {
  background-color: #fff;
}

button.accordion-button.collapsed {
  background: #e6edf7 !important;
}

/* card height */

.main_service {
  height: 500px;
}

/*partenar csss */
.PARTNER {
  color: #ffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  background: url("https://vcana-website-assets.s3.amazonaws.com/images/banners/ctabgg.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
}
.btnr {
  text-align: center !important;
}

.PARTNER h5,
.PARTNER p {
  color: #fff !important;
  text-align: left;
}
.PARTNER h5 {
  font-size: 32px;
  font-weight: 700;
}

.PARTNER button {
  background: #234093;
  color: #fff;
  border: none;
  padding: 7px 30px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 23px;
}

.btnr a button {
  background-color: #f2b721;
  padding: 10px 32px;
  font-weight: 400;
  font-size: 18px;
}

.PARTNER button {
  animation: alltuchtopdown 1.5s ease-in-out 0s infinite alternate;
  animation-duration: 3s;
}

@keyframes alltuchtopdown {
  0% {
    transform: rotateX(0deg) translateY(0);
  }

  50% {
    transform: rotateX(0deg) translateY(-20px);
  }

  to {
    transform: rotateX(0deg) translateY(0);
  }
}

/* here is the css of choose us */

.chosesec {
  padding-top: 30px;
  padding-bottom: 30px;
}

.chooseaim {
  min-height: 290px;
  padding: 40px 20px;
  border-right: 1px dashed #a9a9a9;
  border-bottom: 1px dashed #a9a9a9;
  margin: 0px;
  padding-bottom: 0;
}

.chooseaim p {
  color: #6a6a6a;
  font-size: 15px !important;
  font-style: normal;
  font-weight: 400;
  line-height: 22.787px;
}

.chooseaim h3 {
  padding: 10px 0 0 0px;
  color: #213e92 !important;
  font-size: 19px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 30.383px;
}

.chooseaim:nth-child(3) {
  border-right: none !important;
}

.chooseaim:nth-child(4) {
  border-bottom: none !important;
}

.chooseaim:nth-child(5) {
  border-bottom: none !important;
}

.chooseaim:nth-child(6) {
  padding: 40px 20px;
  border-bottom: none !important;
  border-right: none !important;
}

.chooseaim:hover {
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.fey img {
  margin-bottom: 24px;
}

.fey p {
  font-size: 14px;
}

/* fro different screen sizes */

/* =======================Mobile Responsive  page========================================== */

@media (max-width: 767px) {
  .iconBox,
  .title,
  .content p {
    margin: 0 auto;
    text-align: center !important;
  }
  .PARTNER h5 {
    font-size: 17px !important;
  }

  .de {
    display: none !important;
  }

  .technology {
    padding: 50px 10px 10px;
  }

  .technologybox h5 {
    font-size: 17px !important;
    text-align: center;
  }

  .technologybox p {
    text-align: center !important;
    font-size: 14px !important;
  }

  .single_service {
    margin: 30px 0px 0;
    margin-bottom: 0px !important;
    width: auto;
    height: 450px;
  }

  .main_padding {
    padding-left: 0px;
  }

  .main_service {
    height: 400px;
  }

  .web_service {
    height: 400px;
  }

  .smm_service {
    height: 230px;
  }

  .PARTNER {
    padding: 35px;
    margin: 10px;
  }

  .PARTNER h5 {
    text-align: center;
    font-size: 21px !important;
  }

  .btnr a button {
    display: block;
    margin: 20px auto 0px;
  }

  .chooseaim,
  .chooseaim:nth-child(6) {
    border-right: none;
    text-align: center;
    border-bottom: none !important;
  }

  .chooseaim {
    border-bottom: 1px dotted grey !important;
  }

  .chooseaim h3,
  .chooseaim p {
    text-align: center !important;
  }

  .chooseaim h3 {
    font-size: 18px !important;
  }

  .chooseaim:nth-child(4) {
    border-bottom: 1px dotted grey !important;
  }

  .de {
    margin-left: 0%;
    height: 350px !important;
    margin-bottom: 15px;
  }

  .mainleftmargin {
    margin-left: 0% !important;
  }

  .herotext {
    margin-bottom: 3px;
  }

  .Benefitssec h1,
  .Benefitssec p {
    text-align: center !important;
  }

  .rowChoose {
    margin-left: 0px;
  }

  .headChoose h1,
  .headChoose p {
    width: 100%;
    padding: 0 15px;
  }

  .Benefitssec {
    margin: 10px 0;
    padding: 20px;
  }

  .at_work_process_number {
    width: 100% !important;
  }

  .col_fourth::after {
    display: none;
  }

  .bannerdetail {
    padding: 20px;
  }

  .pinkbg {
    margin-right: 0px;
    padding: 40px 0 0;
  }

  .contact-us {
    padding: 20px;
    margin-right: 0px;
  }

  .benefits br,
  .headChoose br {
    display: none;
  }

  .benefits h1,
  .benefits h1 span,
  .colorchange {
    font-size: 19px !important;
  }

  .benefits p {
    padding: 20px;
  }

  .faq {
    padding-left: 8% !important;
    margin-bottom: 3%;
  }

  .chosesec {
    padding: 0px;
  }

  .herotext p {
    padding-right: 0% !important;
  }

  .ServiceLayout {
    padding: 0px;
  }

  .textptech br {
    display: none;
  }

  .chosesec {
    margin: 0px 10px !important;
  }

  .chooseaim:nth-child(5) {
    border-bottom: 1px dotted grey !important;
  }

  .de {
    margin-top: 20px;
    width: 100% !important;
    height: 250px !important;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .mainHedding1,
  .mainHedding1 span {
    text-align: center !important;
    font-size: 22px !important;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .rowChoose {
    margin-left: 0px !important;
  }

  .single_service,
  .content {
    align-items: center !important;
  }

  .description {
    text-align: center !important;
  }

  .de {
    width: 100%;
    margin-top: 25px;
    object-fit: cover;
    height: 300px;
  }

  .pinkbg {
    padding: 30px 0px 10px;
  }

  .herotext p {
    text-align: center !important;
  }

  .textptech br {
    display: none;
  }

  .technology {
    padding: 30px 0px 0px;
  }

  .chosesec {
    margin: 0px 10px !important;
  }

  .main_padding {
    padding: 0px !important;
    padding-left: 0px;
  }

  .web_service {
    height: 440px;
  }

  .single_service {
    height: 490px;
    margin: 30px 0px 0;
  }

  .PARTNER {
    padding: 20px 25px !important;
  }

  .technologybox h5,
  .technologybox p {
    text-align: center !important;
  }

  .chooseaim:nth-child(4) {
    border-bottom: 1px dashed #a9a9a9 !important;
  }

  .chooseaim:nth-child(3) {
    border-right: 1px dashed #a9a9a9 !important;
  }

  .chooseaim p {
    text-align: center !important;
  }

  .chooseaim h3 {
    font-size: 13px !important;
  }

  .chooseaim:nth-child(2),
  .chooseaim:nth-child(4),
  .chooseaim:nth-child(6) {
    border-right: none !important;
  }

  .chooseaim {
    min-height: 290px;
    padding: 30px 10px !important;
    border-right: 1px dashed #a9a9a9;
    border-bottom: 1px dashed #a9a9a9;
    margin: 0px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainleftmargin {
    margin: 0px;
    padding: 0% 20px !important;
  }

  .herotext {
    padding: 20px 0px 10px !important;
    margin-bottom: 0px !important;
  }

  .services h1 {
    width: 100% !important;
  }

  .services p {
    width: 100% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .mainHedding1 {
    text-align: center !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .PARTNER h5 {
    font-size: 25px;
  }
  .main_service {
    height: 430px !important;
  }

  .single_service,
  .content {
    align-items: center !important;
  }

  .description {
    text-align: center !important;
  }

  .herotext p {
    text-align: center !important;
  }

  .imgBox {
    margin-top: -23px;
  }

  .de {
    height: 330px !important;
    width: 100%;
    padding: 0px 20px;
  }

  .pinkbg {
    padding: 30px 0 0px;
  }

  .single_service {
    height: 490px;
    margin: 30px 25px 0px;
  }

  .technology {
    padding: 30px 0px 0px;
  }

  .herotext {
    padding: 30px 20px 0px;
    margin-bottom: 0px;
  }

  .PARTNER {
    padding: 30px !important;
    margin: 0 20px !important;
  }

  .textptech br {
    display: none;
  }

  .technologybox h5,
  .technologybox p {
    text-align: center !important;
  }

  .textptech {
    padding: 0 30px !important;
  }

  .main_padding {
    padding-left: 0%;
  }

  .chooseaim {
    display: flex;
    min-height: 263px;
    flex-direction: column;
    align-items: center;
  }

  .chooseaim h3 {
    font-size: 16px !important;
  }

  .chooseaim p {
    text-align: center !important;
  }

  .chooseaim:nth-child(3) {
    border-right: 1px dashed #a9a9a9 !important;
  }

  .chooseaim:nth-child(4) {
    border-bottom: 1px dashed #a9a9a9 !important;
  }

  .chooseaim:nth-child(2),
  .chooseaim:nth-child(4),
  .chooseaim:nth-child(6) {
    border-right: none !important;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .main_service {
    height: 430px !important;
  }

  .single_service {
    height: 451px;
  }
  .PARTNER h5 {
    font-size: 27px;
  }
  .chooseaim h3 {
    font-size: 18px !important;
  }

  .technology {
    padding: 30px 0px 0px;
  }

  .chosesec {
    padding-top: 30px;
    padding-bottom: 10px;
  }

  .chooseaim h3 {
    font-size: 16px !important;
  }

  .main_padding {
    padding-left: 2%;
  }

  .mainHeading h1,
  .mainHeading h1 span,
  .your_website h1,
  .your_website span {
    font-size: 28px !important;
  }

  .de {
    height: 660px;
  }
}

@media (min-width: 1366px) and (max-width: 1430px) {
  .PARTNER h5 {
    font-size: 27px;
  }
  .single_service {
    height: 440px;
    margin: 40px 20px 0px;
  }

  .chooseaim h3 {
    font-size: 17px !important;
  }

  .main_padding {
    padding-left: 2%;
  }

  .de {
    height: 620px;
  }

  .headChoose h1 {
    width: 79%;
    margin: 0 auto !important;
    font-size: 32px;
  }

  .headChoose h1 span {
    font-size: 32px;
  }

  .services img {
    width: 94% !important;
    height: 62% !important;
  }

  .serviceCard {
    height: 600px;
  }

  .pinkbg {
    padding: 30px 10px;
    margin-right: 0px;
  }

  .rowChoose {
    margin-left: 0;
  }

  .main_service {
    height: 450px;
    width: 31%;
  }

  .web_service {
    height: 440px;
  }

  .smm_service {
    height: auto;
  }
}

@media (min-width: 1400px) and (max-width: 1460px) {
  .PARTNER h5 {
    font-size: 27px;
  }
  .chooseaim h3 {
    font-size: 18px !important;
  }

  .main_padding {
    padding-left: 2%;
  }

  .single_service {
    height: 440px;
  }

  .de {
    height: 560px;
  }

  .headChoose h1 {
    width: 79%;
    margin: 0 auto !important;
    font-size: 32px;
  }

  .headChoose h1 span {
    font-size: 32px;
  }

  .services img {
    width: 94% !important;
    height: 62% !important;
  }

  .bannerinfo {
    padding: 0px !important;
  }

  .serviceCard {
    height: 600px;
  }

  .pinkbg {
    background: #e6edf7;
    padding: 30px 30px 0;
    margin-right: 0px;
  }

  .rowChoose {
    margin-left: 0;
  }

  .bannerinfo {
    padding: 0px !important;
  }

  .main_service {
    height: 450px;
    width: 31%;
  }

  .web_service {
    height: 440px;
  }

  .smm_service {
    height: auto;
  }
}

@media (min-width: 1600px) and (max-width: 1679px) {
  .de {
    height: 575px;
  }
}

@media (min-width: 1680px) and (max-width: 1920px) {
  .de {
    height: 545px;
  }
}
